


.vs
.idea
.vscode

Thumbs.db
.DS_Store
desktop.ini

*.bin*
*.log*
*exclude*

*.psx
*.mcr
*.elf

test_*
comport.txt

bin\
obj\

bin
obj
*.pdb

oldnops.exe
testdump.cmd
testexe.cmd
